* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: currentColor;
}
header {
  z-index: 5;
  padding: 0.5em;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
}
header .container .row .col-lg-4 h3 {
  color: #000000;
  font-family: 'Maven Pro', sans-serif;
}
.dlatexta {
  color: #000000;
  font-family: 'Maven Pro', sans-serif;
}
.fon {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa873), to(#e8bc7a));
  background: linear-gradient(to bottom, #ffa873 0%, #e8bc7a 100%);
  text-align: right;
}
.fon img {
  opacity: 0.9;
  z-index: 2;
  width: 90%;
}
.order {
  background-color: #FF8940;
  display: block;
}
.order:hover {
  background-color: #ffa873;
  border: solid 1px black;
}
h1,
h2,
h3 {
  color: #000000;
  font-family: 'Maven Pro', sans-serif;
}
.look {
  display: block;
}
.look:hover {
  border: solid 1px black;
}
.textik h1 {
  margin-top: 4em;
  text-align: center;
  color: #000000;
  font-family: 'Maven Pro', sans-serif;
}
.textik img {
  margin-top: 6em;
  margin-left: 29%;
}
.section {
  text-align: center;
  padding: 0.5em;
}
.pluses {
  margin-top: 2em;
  margin-bottom: 2em;
}
.sites {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.sites .container {
  margin-bottom: 1em;
  width: 50%;
}
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(#000000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, #000000 100%);
}
footer::after {
  content: "";
  height: 100px;
}
